<div class="animate__animated animate__fadeIn animate__faster">
  <h3 class="mb-2">
    By Region <span ngClass="active">{{ regionActive }}</span>
  </h3>

  <div class="row mt-3">
    <div class="col">
      <small class="fw-bolder fst-italic mb-1" style="display: block"
        >Select Region</small
      >
      <button
        *ngFor="let region of regions"
        class="mb-2"
        [class]="setActiveRegion(region)"
        (click)="activateRegion(region)"
      >
        {{ region }}
      </button>
    </div>
  </div>
</div>

<div class="row mt-3" *ngIf="countries.length">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
