<table class="table table-hover border">
  <thead>
    <tr>
      <th>#</th>
      <th>Flag</th>
      <th>Country</th>
      <th>Capital</th>
      <th>Region</th>
      <th>Population</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let country of countries; let i = index">
      <td>{{ i + 1 }}</td>
      <td>
        <img [src]="country.flags.svg" alt="" width="40px" />
      </td>
      <td>{{ country.name.common || country.name }}</td>
      <td>{{ renderCapital(i) }}</td>
      <td>{{ country.region }}</td>
      <td>{{ country.population | number }}</td>
      <td>
        <a
          [routerLink]="['/country', country.cca2]"
          class="nav-link"
          ngClass="viewmore"
          >View More</a
        >
      </td>
    </tr>
  </tbody>
</table>
